<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aineet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Raaka-aineet</h1>

        <ol>
            <li th:each="aines: ${ainekset}">
                <span th:text="${aines.nimi}">aineksen nimi</span>
            </li>
        </ol>
        
        
        <h4>Lis&auml;&auml; uusi raaka-aine</h4>
  
        <form method="POST" action="/ainekset">
            Raaka-aineen nimi:<br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lis&auml;&auml;"/>
        </form>
        
        <ul>
            <li>
              <a href="../">Smoothielistaukseen</a>
            </li>
        </ul>
        
    </body>
</html>
