<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothie annos</title>
        <meta charset="utf-8" />
    </head>

    <body>
         <h1><span th:text="${annos.nimi}">annos</span></h1>

        <ol>
            <li th:each="aines: ${aineet}">
                <span th:text="${aines.raakaaine}">aineksen nimi</span><span> </span><span th:text=" ${aines.maara}">aineksen määrä</span>
            </li>
        </ol>
         
        <ul>
            <li>
              <a href="../">Smoothielistaukseen</a>
            </li>
        </ul> 
         
    </body>
</html>
