<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2>Smoothie annokset</h2>

        <ol>
            <li th:each="annos: ${smoothiet}">
                <a th:href="${'/annokset/' + annos.id}"><span th:text="${annos.nimi}">annoksen nimi</span></a>
            </li>
        </ol>
        
        <h4>Lis&auml;&auml; uusi</h4>
  
        <form method="POST" action="">
            Smoothien nimi:<br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lis&auml;&auml;"/>
        </form>
        
        <h4>Lis&auml;&auml; raaka-aineita</h4>
        
        <form method="POST" action="">
            Smoothien nimi:<br/>
            <select name="smoothie">
              <option th:each ="annos: ${smoothiet}"  th:text="${annos.nimi}" th:value="${annos.id}">Smoothie</option>
            </select>
            <br/>
            Lis&auml;tt&auml;v&auml; raaka-aine<br/>
            <select name="raakaAine">
              <option th:each ="aines: ${ainekset}"  th:text="${aines.nimi}" th:value="${aines.id}">Raaka-aine</option>
            </select>
            <br/>
            J&auml;rjestys<br/>
            <input type="text" name="jarjestys"/><br/>
            M&auml;&auml;r&auml;<br/>
            <input type="text" name="maara"/><br/>
            Ohje<br/>
            <input type="text" name="ohje"/><br/>
            <input type="submit" value="Lis&auml;&auml;"/>
        </form>
        
        <ul>
            <li>
              <a href="../">Smoothielistaukseen</a>
            </li>
        </ul> 
        
    </body>
</html>
