<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aine tilasto</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Raaka-aine esiintyy annoksissa x kertaa:</h1>

        <ol>
            <li th:each="tilasto: ${tilastot}">
                <span th:text="${tilasto.nimi}">aineksen nimi</span><span>, </span><span th:text="${tilasto.summa}">lkm</span>
            </li>
        </ol>
        
        
        <ul>
            <li>
              <a href="../">Smoothielistaukseen</a>
            </li>
        </ul>
        
    </body>
</html>
